<section class="home">
    {{#each products}}
    <div class="pt-3">
        <div class="card" style="width: 18rem;">
            <img src="{{this.img}}"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {{/each}}
</section>
<style>
    .home{
       display: grid;
       justify-content: center;
       grid-template-columns: repeat(4,auto);
       grid-gap: 10px;
    }
    @media (max-width:1200px){
        .home{
            grid-template-columns: repeat(3,auto);
        }
    }
     @media (max-width:900px){
        .home{
            grid-template-columns: repeat(2,auto);
        }
    }
     @media (max-width:602px){
        .home{
            grid-template-columns: repeat(1,auto);
        }
    }
</style>